
#sec-img-viewer {
    opacity: 1;
}

#sec-img-viewr {
    position: relative;
}

#figure-main-viewer {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    height: 80%;
    box-shadow: 0 0 0 9999px #000000e6;
    overflow: hidden;
    background-color: #000000e6;
    display: none;
}

#sec-img-viewer div {
    width: 100%;
    height: 100%;
}

#sec-img-viewer .img-viewer {
    width: 100%;
    height: 70%;
    background-repeat: no-repeat;
}
