body {
    background-color: black;
    color:white;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    filter: blur(2px);
    z-index: -1;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3em;
}

header, header h1, header h2 {
    width: fit-content;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    margin: 5em auto;
}

header h1, header h2 {
    margin: 0 auto;
}

main {
    max-width: 80%;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
}

main section {
    background-color: red;
    flex: 1 1 100%;
}

section:first-child {
    background-color: #222;
    margin-bottom: 1em;
}

section:nth-child(2) ul {
    background-color:goldenrod;
    display: flex;
    flex-wrap: wrap;
}

section:nth-child(2) li {
    flex: 1 1 20%;
    overflow: hidden;
}

section:nth-child(2) li:nth-child(even) {
    background-color: blue;
}

section:nth-child(2) li:nth-child(odd) {
    background-color: brown;
}

.container-img {
    height: 100%;
    
    /* Ajusta a exibição da imagem */
    position: relative;
    left: -70%; /* -70% */
}

.navbar-top ul {
    display: flex;
    /* Coloca todos os itens no centro do container */
    justify-content: center;
    flex-wrap: wrap;
}

.navbar-top li {
    margin: 1em 2em;
}

.navbar-top a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}