/*
    largura: 5,6
    altura: 7,9
*/

body {
    background-color: black;
    color:white;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    filter: blur(2px);
    z-index: -1;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3em;
}

header, header h1, header h2 {
    width: fit-content;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    margin: 5em auto;
}

header h1, header h2 {
    margin: 0 auto;
}

main {
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;

    display: flex;
    flex-wrap: wrap;
}

main section {
    flex: 1 1 100%;
}

main section:first-child {
    background-color: #222;
    margin-bottom: 1em;
    border-radius: 3px;
    font-size: 1em;
}

main section:nth-child(2) ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main section:nth-child(2) li {
    overflow: hidden;
    height: 395px;
    flex-basis: 280px;
}

.navbar-center ul {
    display: flex;
    /* Coloca todos os itens no centro do container */
    justify-content: center;
    flex-wrap: wrap;
}

.navbar-center li {
    margin: 1em 2em;
}

.navbar-center a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}

.illustrations img {
    background-repeat: no-repeat;
    background-size: 213%;
    background-position: center;

    width: 280px;
    height: 395px;

    /* Corrige a borda */
    transform: scale(1.01);
}

img[class="img1"] {
    background-image: url(../img/eirik-skarstein-1325650-unsplash.jpg);
}
img[class="img2"] {
    background-image: url(../img/background_1.jpg);
}
img[class="img3"] {
    background-image: url(../img/jake-blucker-1325852-unsplash\(1\).jpg);
}
img[class="img4"] {
    background-image: url(../img/julius-jansson-1326014-unsplash\(1\).jpg);
}

.navbar-top {
    background-color:#222;
    color: white;
    
    width: 100%;
    padding: .5em;
    box-sizing: border-box;

    display: flex;
}

.navbar-top ul {
    flex: 1 1 50%;
    
    display: flex;
    align-items: center;
    height: 3.125em;
}

.navbar-top ul:last-child {
    justify-content: flex-end;
}

.navbar-top li {
    margin: 0 1.5em;
}

.navbar-top a {
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    text-align: center;
}

#nav-top-pages {
    display: none;
}

.fixed-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    animation: aparecerNav .5s;
}
@keyframes aparecerNav {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.illustrations figure:hover {
    position: relative;
}

.illustrations figure:hover figcaption {
    position: absolute;
    top: 50%;
    left: 0;
    width: 90%;
    padding: 5%;
    /* Alinha o elemento no centro do pai com (-50%, -50%) */
    transform: translate(0,-50%);
    text-align: center;
    font-size: 1em;
    box-shadow: 0 0 0 999px #000000cc, inset 0 0 0 999px #000000cc;
    
    /* Animação */
    transition: box-shadow .2s, transform .5s;
}

.illustrations figure:hover h3 {
    font-size: 2.25em;
    margin-bottom: 1em;
}

.nav-center-hidden-efect {
    min-height: 3.5em; /*1.5 font e 2 margin*/
    opacity: 0;
    animation: desaparecerNav .3s;
}
@keyframes desaparecerNav {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}